sentencepiece==0.2.0 --prefer-binary
moviepy==2.1.2
pydub==0.25.1
pytube==15.0.0
Requests==2.32.3
speechbrain==0.5.16
streamlit==1.44.1
torch
torchaudio
torchvision
yt_dlp==2025.5.22
transformers==4.49.0
ffmpeg-python>=0.2.0
huggingface-hub==0.28.1
